#done
	.container
		%h3.text-center
			= precede '// ' do
				This what I've done.
		.row
			.col-sm-12
				.cd-timeline-block
					.cd-timeline-img.cd-graduation
						%i.fa.fa-graduation-cap
					.cd-timeline-content
						%p
							Learned Ruby, Haml, CoffeeScript & Sass.
						%span.cd-date
							2015
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-star
					.cd-timeline-content
						%h2
							Developer at 2Brains
						%p
							New goals, lots to learn.
						%span.cd-date
							2015
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-smile-o
					.cd-timeline-content
						%h2
							XCode Unlocked
						%p
							Developed first mobile application for iOS.
						%span.cd-date
							2014
				.cd-timeline-block
					.cd-timeline-img.cd-trophy
						%i.fa.fa-trophy
					.cd-timeline-content
						%p
							Won Site of the Year. IAB Awards.
						%span.cd-date
							2013
				.cd-timeline-block
					.cd-timeline-img.cd-graduation
						%i.fa.fa-graduation-cap
					.cd-timeline-content
						%p
							Learned C++.
						%span.cd-date
							2013
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-star
					.cd-timeline-content
						%h2
							Developer at Why
						%p
							Created new versions of slotmachine and developed a few Flash games.
						%span.cd-date
							2013
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-star
					.cd-timeline-content
						%h2
							Creative Programmer at Brandbook
						%p
							Hired to boost the eCommerce experience for Cencosud, one biggest retail companies in the region.
						%span.cd-date
							2012
				.cd-timeline-block
					.cd-timeline-img.cd-graduation
						%i.fa.fa-graduation-cap
					.cd-timeline-content
						%p
							Learned jQuery, Html5 & CSS3.
						%span.cd-date
							2011
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-star
					.cd-timeline-content
						%h2
							Freelancer
						%p
							Developed international websites. Mostly for Japan. Skype rules!
						%span.cd-date
							2007 - 2010
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-star
					.cd-timeline-content
						%h2
							Co-founder at Gallo Negro
						%p
							Developed various Flash games focused on the user experience.
						%span.cd-date
							2006
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-star
					.cd-timeline-content
						%h2
							Co-founder at Hammer
						%p
							First website approach.
						%span.cd-date
							2004 - 2005
				.cd-timeline-block
					.cd-timeline-img.cd-graduation
						%i.fa.fa-graduation-cap
					.cd-timeline-content
						%p
							Learned Html, PHP, MySql, Javascript and Actionscript 2.0.
						%span.cd-date
							2004
				.cd-timeline-block
					.cd-timeline-img.cd-homeless
						%i.fa.fa-frown-o
					.cd-timeline-content
						%h2
							Homeless
						%p
							Yeah, tough year.
						%span.cd-date
							2004
				.cd-timeline-block
					.cd-timeline-img.cd-trophy
						%i.fa.fa-trophy
					.cd-timeline-content
						%p
							Won Best Script at International Film Festival in Spain.
						%span.cd-date
							2003
				.cd-timeline-block
					.cd-timeline-img.cd-achivement
						%i.fa.fa-smile-o
					.cd-timeline-content
						%h2
							15 Minutes of Fame
						%p
							Created and directed "Al Paraíso", Tv show aired until 2006.
						%span.cd-date
							2002