%footer
	.container
		%h3.text-center // Oh, and this is how you find me
		.row
			.col-md-3.text-center
				%i.fa.fa-github
			.col-md-3.text-center
				%i.fa.fa-linkedin
			.col-md-3.text-center
				%i.fa.fa-facebook
			.col-md-3.text-center
				%i.fa.fa-instagram