#how
	.hover
		.container
			%h3.text-center
				= precede '// ' do
					This is how I do it
		.container.vertical
			.row
				.col-sm-1.hidden-xs
				.col-xs-12.col-sm-2.text-center
					.big-icon
						%i.fa.fa-pencil
					%small.title
						sketch
					= precede '<br /> ' do
						%small.note
							(wireframe - ux)
				.col-xs-12.col-sm-2.text-center
					.normal-icon
						%i.fa.fa-arrow-right.hidden-xs
						%i.fa.fa-arrow-down.hidden-sm.hidden-md.hidden-lg
				.col-xs-12.col-sm-2.text-center
					.big-icon
						%i.fa.fa-object-ungroup
					%small.title
						design
					= precede '<br /> ' do
						%small.note
							(look & feel)
				.col-xs-12.col-sm-2.text-center
					.normal-icon
						%i.fa.fa-arrow-right.hidden-xs
						%i.fa.fa-arrow-down.hidden-sm.hidden-md.hidden-lg
				.col-xs-12.col-sm-2.text-center
					.big-icon
						%i.fa.fa-code
					%small.title
						code
					= precede '<br /> ' do
						%small.note
							(make it work)
				.col-sm-1.hidden-xs

	#videohow.hidden-xs
