#how
	.container
		%h3.text-center // This how I do it.
		.embed-responsive.embed-responsive-4by3
			%iframe#videohow.embed-responsive-item( src="https://www.youtube.com/embed/Q0iOS_8BsdM?rel=0&autoplay=1&loop=1&playlist=Q0iOS_8BsdM&VQ=HD720&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen )