#ido
	.container
		%h3.text-center
			= precede '// ' do
				This is a glimpse of what I do.
	.col-sm-4.col-xs-6.vid-full
		%img.img-responsive( src="img/ido/haml.jpg")
	.col-sm-4.col-xs-6.vid-med
		%img.img-responsive( src="img/ido/notes.jpg")
		%img.img-responsive( src="img/ido/cocha.jpg")
		%img.img-responsive( src="img/ido/starbucks.jpg")
		%img.img-responsive( src="img/ido/soccer-fla.jpg")
	.col-sm-4.col-xs-6.vid-full
		%video#vid1.img-responsive.hidden-xs( poster="//i.imgur.com/SmCSGfzh.jpg" loop="loop" preload="none" onmouseover = "this.play()" onmouseout = "this.pause()" )
			%source(src="//i.imgur.com/SmCSGfz.webm" type="video/webm")
			%source(src="//i.imgur.com/SmCSGfz.webm" type="video/webm")
		%img.img-responsive.hidden-sm.hidden-md.hidden-lg(src="//i.imgur.com/SmCSGfzh.jpg")
	.col-sm-4.col-xs-6.vid-full
		%video#vid2.img-responsive.hidden-xs( poster="//i.imgur.com/uKJRnSCh.jpg"loop="loop" preload="none" onmouseover = "this.play()" onmouseout = "this.pause()" )
			%source(src="//i.imgur.com/uKJRnSC.webm" type="video/webm")
			%source(src="//i.imgur.com/uKJRnSC.webm" type="video/webm")
		%img.img-responsive.hidden-sm.hidden-md.hidden-lg(src="//i.imgur.com/uKJRnSCh.jpg")
	.col-sm-4.col-xs-6.vid-med
		%img.img-responsive( src="img/ido/logo-tickapp.png")
		%img.img-responsive( src="img/ido/carpanta.png")
		%img.img-responsive( src="img/ido/nomade.png")
		%img.img-responsive( src="img/ido/jumbo-sabores.png")
	.col-sm-4.col-xs-6.vid-full
		%img.img-responsive( src="img/ido/enjoy-slotmachine.png")
	.row
		.col-sm-12.text-center( style = "margin: 15px 0;" )
			%small ...and a lot more.
		