#ido
	.container
		%h3.text-center // This is what I do.
		.row
	.col-sm-4.col-xs-6.vid-full
		%img.img-responsive( src="img/ido/haml.jpg")
	.col-sm-4.col-xs-6.vid-med
		%img.img-responsive( src="img/ido/notes.jpg")
		%img.img-responsive( src="img/ido/cocha.jpg")
		%img.img-responsive( src="img/ido/starbucks.jpg")
		%img.img-responsive( src="img/ido/soccer-fla.jpg")
	.col-sm-4.col-xs-6.vid-full
		%video#vid1.img-responsive( poster="//i.imgur.com/SmCSGfzh.jpg" preload="auto" autoplay="autoplay" muted="muted" loop="loop" webkit-playsinline="" )
			%source(src="//i.imgur.com/SmCSGfz.webm" type="video/webm")
			%source(src="//i.imgur.com/SmCSGfz.webm" type="video/webm")

	.col-sm-4.col-xs-6.vid-full
		%video#vid2.img-responsive( poster="//i.imgur.com/uKJRnSC.jpg" preload="auto" autoplay="autoplay" muted="muted" loop="loop" webkit-playsinline="" )
			%source(src="//i.imgur.com/uKJRnSC.webm" type="video/webm")
			%source(src="//i.imgur.com/uKJRnSC.webm" type="video/webm")
	.col-sm-4.col-xs-6.vid-med
		%img.img-responsive( src="img/ido/logo-tickapp.png")
		%img.img-responsive( src="img/ido/carpanta.png")
		%img.img-responsive( src="img/ido/nomade.png")
		%img.img-responsive( src="img/ido/jumbo-sabores.png")
	.col-sm-4.col-xs-6.vid-full
		%img.img-responsive( src="img/ido/enjoy-slotmachine.png")
	.container
		.row
			.col-sm-12.text-center 
				%small ...and lots and lots more.
		